/*----- GOOGLE FONTS -----*/
@import url("https://fonts.googleapis.com/css2?family-Poppins:wght@400;500;600;700&display-swap");
/*----- VARIABLES CSS -----*/
:root {
  --header-height: 3rem;

  /*----- Font weight -----*/
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*----- Colores -----*/
  --dark-color: #191d24;
  --dark-color-light: #393e46;
  --dark-color-lighten: #eee;
  --white-color: #fff;

  /*----- Font and typography -----*/
  --body-font: "Poppins", sans-serif;
  --big-font-size: 1.2rem;
  --bigger-font-size: 1.5rem;
  --biggest-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
  --smaller-font-size: 0.813rem;

  /*----- Margenes -----*/
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;

  /*----- z index -----*/
  --z-fixed: 100;

  /*----- Rotate img -----*/
  --rotate-img: rotate(-30deg);
}

@media only screen and (min-width: 768px) {
  :root {
    --big-font-size: 1.5rem;
    --bigger-font-size: 2rem;
    --biggest-font-size: 3rem;
    --normal-font-size: 1rem;
    --smaller-font-size: 0.875rem;
  }
}

/*----- BASE -----*/
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  color: var(--dark-color);
  line-height: 1.6;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--dark-color);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/*---------- Img Layout------- */
@media only screen and (min-width: 1024px) {
  .laptop-1024 {
    width: 230px;
  }

  .phone-1024 {
    width: 150px;
  }

  .watch-1024 {
    width: 230px;
  }
}

/*----- CLASS CSS ----- */
.section {
  padding: 5rem 0 2rem;
}

.section-title {
  position: relative;
  font-size: var(--big-font-size);
  margin: var(--mb-4);
  text-align: center;
  letter-spacing: 0.1rem;
}

.section-title::after {
  content: "";
  position: absolute;
  width: 56px;
  height: 0.18rem;
  top: -1rem;
  left: 0;
  right: 0;
  margin: auto;
  background-color: var(--dark-color);
}

/*----- LAYOUT -----*/
.bd-grid {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

/*------ Header -----*/
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--dark-color-lighten);
  transition: 0.3s;
}

/*----- NAV -----*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .nav_menu {
    position: fixed;
    top: var(--header-height);
    left: -100%;
    width: 70%;
    height: 100vh;
    padding: 2rem;
    background-color: var(--white-color);
    transition: 0.5s;
  }
}

.nav_item {
  margin-bottom: var(--mb-4);
}

.nav_logo {
  font-weight: var(--font-semi-bold);
  font-size: var(--big-font-size);
}

.nav_toggle,
.nav_shop {
  font-size: 1.3rem;
  cursor: pointer;
}

/*Show menu*/
.show {
  left: 0;
}

/*Active link*/

/*Change color header*/
.scroll-header {
  background-color: var(--white-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

/*----- HOME -----*/
.home {
  background-color: var(--dark-color-lighten);
  overflow: hidden;
}

.home_container {
  height: calc(100vh - var(--header-height));
}

.home_sneaker {
  position: relative;
  display: flex;
  justify-content: center;
  align-self: center;
}

.home_shape {
  width: 220px;
  height: 220px;
  background-color: var(--dark-color);
  border-radius: 50%;
}

.home_img {
  position: absolute;
  top: 1.5rem;
  max-width: initial;
  width: 275px;
  transform: var(--rotate-img);
}

.home_new {
  display: block;
  font-size: var(--smaller-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: var(--mb-2);
}

.home_title {
  font-size: var(--bigger-font-size);
  margin-bottom: var(--mb-1);
}

.home_description {
  margin-bottom: var(--mb-6);
}

/*BUTTONS*/
/* -----Home----- */
.button {
  display: inline-block;
  background-color: var(--dark-color);
  color: var(--white-color);
  padding: 1.125rem 2rem;
  font-weight: var(--font-medium);
  border-radius: 0.5rem;
  transition: 0.3s;
}

.button:hover {
  background-color: var(--dark-color-light);
  transform: translateY(-0.5rem);
}

.button-light {
  display: inline-flex;
  color: var(--white-color);
  background-color: var(--dark-color);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-weight: var(--font-bold);
  align-items: center;
  transition: 0.3s;
}

.button-icon {
  font-size: 1.25rem;
  margin-left: var(--mb-1);
  transition: 0.3s;
}

.button-light:hover {
  transform: translateY(-0.25rem);
}

/*----- category -----*/
.category_container {
  row-gap: 2rem;
  justify-content: center;
}

.category_card {
  position: relative;
  display: flex;
  height: 328px;
  background-color: var(--dark-color-lighten);
  padding: 2rem;
  border-radius: 0.5rem;
  transition: 0.3s;
}

.category_data {
  align-self: flex-end;
}

.category_img {
  position: absolute;
  top: 0;
  right: 0;
}

.category_name {
  font-size: var(--bigger-font-size);
  margin-bottom: 0.25rem;
}

.category_description {
  margin-bottom: var(--mb-2);
}

.category_card:hover {
  transform: translateY(-0.5rem);
}

/*----- FEATURED -----*/
.featured_container {
  row-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.sneaker {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: var(--dark-color-lighten);
  border-radius: 0.5rem;
  transition: 0.3s;
}

.sneaker_sale {
  position: absolute;
  left: 1rem;
  background-color: var(--dark-color);
  color: var(--white-color);
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  font-size: var(--h2-font-size);
  letter-spacing: 0.1rem;
}

.sneaker_img {
  width: 220px;
  margin-top: var(--mb-3);
  margin-bottom: var(--mb-6);
  transform: var(--rotate-img);
  filter: drop-shadow(0 12px 8px rgba(0, 0, 0, 0.3));
}

.sneaker_name,
.sneaker_price {
  font-size: var(--h2-font-size);
  letter-spacing: 0.1rem;
  font-weight: var(--font-bold);
}

.sneaker_name {
  margin-bottom: var(--mb-1);
}

.sneaker_price {
  margin-bottom: var(--mb-4);
}

.sneaker:hover {
  transform: translateY(-0.5rem);
}

/*------ Shop -------*/
.sneaker_pages {
  margin-top: var(--mb-6);
}

.sneaker_pag {
  padding: 0.5rem 1rem;
  border: 1px solid var(--dark-color);
  transition: 0.3s;
}

.sneaker_pag:hover {
  background-color: var(--dark-color);
  color: var(--white-color);
}

/*----- WOMEN SNEAKERS -----*/
.women_container {
  row-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

/*----- OFFER -----*/
.offer_container {
  grid-template-columns: 55% 45%;
  column-gap: 0;
  background-color: var(--dark-color-lighten);
  border-radius: 0.5rem;
  justify-content: center;
}

.offer_data {
  padding: 4rem 0 4rem 1.5rem;
}

.offer_title {
  font-size: var(--biggest-font-size);
  margin-bottom: 0.25rem;
}

.offer_description {
  margin-bottom: var(--mb-3);
}

.offer_img {
  width: 153px;
}

/*----- NEW COLLECTION  -----*/
.new_container {
  row-gap: 2rem;
}

.new_mens {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dark-color-lighten);
  border-radius: 0.5rem;
  padding: 2rem;
}

.new_mens-img {
  width: 276px;
  margin-bottom: var(--mb-3);
}

.new_title {
  font-size: var(--bigger-font-size);
  margin-bottom: 0.25rem;
}

.new_price {
  display: block;
  margin-bottom: var(--mb-3);
}

.new_sneaker {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.new_sneaker-card {
  position: relative;
  padding: 3.5rem 1.5rem;
  background-color: var(--dark-color-lighten);
  border-radius: 0.5rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.new_sneaker-img {
  width: 220px;
}

.new_sneaker-overlay {
  position: absolute;
  left: 0;
  bottom: -100%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(138, 138, 138, 0.3);
  transition: 0.3s;
}

.new_sneaker-card:hover .new_sneaker-overlay {
  bottom: 0;
}

/*----- FOOTER -----*/
.footer_container {
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.footer_box {
  margin-bottom: var(--mb-4);
}

.footer_title {
  font-size: var(--big-font-size);
  margin-bottom: var(--mb-1);
}

.footer_link {
  display: block;
  width: max-content;
  margin-bottom: var(--mb-1);
}

.footer_social {
  font-size: 1.5rem;
  margin-right: 1.25rem;
}

.footer_copy {
  padding-top: 3rem;
  font-size: var(--smaller-font-size);
  color: var(--dark-color-light);
  text-align: center;
}

/* ----- MEDIA QUERIES-----*/

/* Tablet */

@media only screen and (min-width: 576px) {
  /* category */
  .category_container {
    grid-template-columns: 415px;
  }

  .category_img {
    margin-top: var(--mb-1);
    margin-right: var(--mb-3);
  }

  /* Offer */
  .offer_container {
    grid-template-columns: max-content max-content;
  }

  .offer_data {
    text-align: center;
  }

  /* New Collection */
  .new_mens {
    align-items: center;
  }
}

/* Laptop & PC */

@media only screen and (min-width: 768px) {
  body {
    margin: 0;
  }

  .section {
    padding: 7rem 0 3rem;
  }

  .section-title::after {
    width: 76px;
  }

  /* Navigation */

  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }

  .nav_menu {
    margin-left: auto;
  }

  .nav_list {
    display: flex;
  }

  .nav_item {
    margin-left: var(--mb-6);
    margin-bottom: 0;
  }

  .nav_toggle {
    display: none;
  }

  /* Home */

  .home_container {
    height: 100vh;
    grid-template-columns: max-content max-content;
    justify-content: center;
    align-items: center;
  }

  .home_sneaker {
    order: 1;
  }

  .home_shape {
    width: 376px;
    height: 376px;
  }

  .home_img {
    width: 470px;
    top: 0;
    right: 0;
    left: -3rem;
  }
}

@media only screen and (min-width: 1024px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }

  .home_container {
    column-gap: 8rem;
  }

  .category_container {
    row-gap: 2;
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  }

  .category_card {
    width: 100%;
  }

  .new_container {
    grid-template-columns: max-content 1fr;
  }

  .new_mens {
    align-items: initial;
    justify-content: flex-end;
    padding: 4rem 2rem;
  }

  .new_mens-img {
    margin-bottom: var(--mb-6);
  }
}
